@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2? family= Fjalla+One & family= Yanone+Kaffeesatz:wght@300;400;500 & display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-position: inside;
}


head, body {

    background-color: rgba(94, 236, 224, 0.627);
}

header{
    font-family: 'Fjalla One', sans-serif;
    padding: 50px;
    font-size:18px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.332);
    background-image: linear-gradient(to bottom, rgb(108, 231, 194), rgb(6, 145, 124));
}

nav{
    background-color: rgb(6, 145, 124);
    padding: 8px;
}

.menu{
    
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.menu > button{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(3, 60, 60);
}
button {
    transition: 1s;
}

button > a{
    font-size: 16px;
    color: white;
}

button:hover{
    transform: translateY(5px);
}

main{
    height: 910px ;
    padding-bottom: 500px;
    min-width: 600px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: -33px;
    background-color: rgba(9, 137, 86, 0.342);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.511);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container-1{
    display: flex;
    align-items: center;
    margin: auto;
    height: 500px;
    width: 700px;
    background-image: url('imagens/img-4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    gap: 5px;
    
}



.container-3 {
    display: flex;
    background-color: rgb(3, 60, 60);
    padding: 10px;
}

.container-3 > p{
    display: flex;
    font-size: 16px;
    color: white;
    padding: 0px 50px 0px 50px;
    align-items: center;
    width: 20vw;
}

.container-4 {
    display: flex;
    margin: auto;
    height: 500px;
    width: 700px;
    align-content: center;
    justify-content: center;
    background-image: url('imagens/jatimana.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.titulo {
    display: flex;
    padding: 10px;
    text-align:center;
    justify-content: center;

}

.titulo > h2 {
    font-weight:bold;
}

.text {
    display: flex;
    color:black;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}
 .co2 {
                                                                                                                                                                                                                                                                     
    background-position: right bottom;
}








